*.log
node_modules/
.tmp
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
tsconfig.json
.travis.yml
.gitattributes
.gitignore
.editorconfig
.bithoundrc
.codeclimate.yml
.nvmrc
coverage
.awcache
.rpt2_cache
.nyc_output